.rockerd {
    max-width: 576px;
}

#header {
    font-weight: bold;
    margin-bottom: 12px;
}

#header h1 {
        font-size: 3rem;
}
#footer {
    border-top: solid 1px #eee;
    padding: 12px 0;
    font-size: 0.8rem;
    margin-top: 16px;
    display: none;
}

.trick {
   font-size: 2rem;
}

.trick > .start, .trick > .end {
    font-size: 1.5rem;
}


.trick > .col-1 {
    font-size: 1rem;
    padding-top: 8px;
}

.list-completed {
    font-size: 0.85em;
}